openapi: 3.2.0
info:
  title: CPIR Site Metadata API
  version: wp/v2
  description: The anonymously readable metadata layer of the parentcenterhub.org WordPress REST API — the API discovery root, the registered content types, the taxonomies and the publication statuses, plus the Yoast SEO head document for any CPIR URL.
  contact:
    name: Center for Parent Information and Resources
    url: https://www.parentcenterhub.org/contact/
  x-derived-from: https://www.parentcenterhub.org/wp-json/ route index plus live anonymous GET verification of every documented path on 2026-09-05
  x-derived-on: '2026-09-05'
  x-api-evangelist-note: Third-party profile. Only routes that returned a real anonymous 200 are documented as public; the gated collections are recorded in the description rather than presented as a surface.
servers:
- url: https://www.parentcenterhub.org/wp-json
  description: CPIR WordPress REST API (Parent Center Hub)
tags:
- name: Metadata
  description: Registered content types, taxonomies and publication statuses.
paths:
  /wp/v2/types:
    get:
      operationId: listContentTypes
      summary: List registered content types
      description: Retrieve every registered post type with its labels, taxonomies, REST base and capabilities flags. Verified live on 2026-09-05 returning 18 types.
      tags:
      - Metadata
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          default: view
      responses:
        '200':
          description: Content types keyed by slug.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
  /wp/v2/taxonomies:
    get:
      operationId: listTaxonomies
      summary: List registered taxonomies
      description: Retrieve every registered taxonomy with the content types it applies to, whether it is hierarchical, and its REST base and namespace. Verified live on 2026-09-05.
      tags:
      - Metadata
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          default: view
      - name: type
        in: query
        description: Limit results to taxonomies associated with a specific post type.
        schema:
          type: string
      responses:
        '200':
          description: Taxonomies keyed by slug.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
  /wp/v2/statuses:
    get:
      operationId: listPostStatuses
      summary: List publication statuses
      description: Retrieve the publication statuses exposed to an anonymous caller. Verified live on 2026-09-05 returning only `publish`.
      tags:
      - Metadata
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          default: view
      responses:
        '200':
          description: Statuses keyed by slug.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
